*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_links{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: verdana;
}
.nav_links:hover{
    text-decoration: underline;
}
#d2{
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;  
}
#search{
    width: 30vw;
    height: 5vh;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding-left: 30px;
}
#search::placeholder{
    color: white;
}

#s1{
    height: 88vh;
}
.background{
    width: 100vw;
    height: 89.2vh;
}

.login-division{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 500px;
    left: 550px;
    width: 25vw;
    backdrop-filter: blur(20px);
    height: auto;
    color: white;
    height: 350px;
    border-radius: 10px;
    border: 2px solid white;
}

.login-division h1{
    font-weight: 900;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-bottom: -10px;
    margin-right: 50px;
    margin-left: 30px;
}

.textfield,.login-button{
    width: 250px;
    height: 35px;
    /* flex-basis: 200px; */
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid white;
}

.textfield::placeholder{
    color: white;
}

.login-button{
    background-color: white;
    color: blueviolet;
    font-weight: 700;
    margin-top: -40px;
    /* background-color: ; */
}

.login-button:hover{
    background-color: rgb(185, 122, 245);
    color: black;
}

.options{
    display: flex;
    /* border: 2px solid white; */
    align-items: center;
    font-size: 10px;
    gap: 55px;
    margin-top: -60px;
}

.remember_me_division{
    display: flex;
    align-items: center;
    
    

    /* border: 2px solid white; */
}

.account{
    font-size: 12px;
    margin-top: -25px;
    font-size: 15px;
}
.account a{
    text-decoration: none;
    color: yellow;
}
#password{
    margin-top: -25px;

}
.account a:hover{
   text-decoration: underline;
}